# Ejemplo 1: Esto es un Notebook de Practica

---

### 1. Objetivos
    - Repasar rápidamente como funciona un Jupyter Notebook

### 2. Requisitos: 
    - Jupyter Notebook instalado

---

En JN tenemos `modo comando` y `modo edición`

- El `modo edición` sirve para editar celdas
- El `modo comando` sirve para usar comandos en el JN

Esto es una celda `Markdown`

In [3]:
# Esto es una celda de Código
# y yo soy un comentario ...

Escribamos algo de código para recordar:

In [13]:
var_1 = 4
var_2 = 5

var_1 + var_2

9

In [ ]:
print (var_1, var_2)

4 5

In [9]:
print ( str (var_1) + ', ' + str (var_2))

4, 5

In [14]:
print (var_1 + var_2)

9

In [15]:
var_1 = 10
var_1 + var_2

15